<ion-header class="escritorio">
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Productos</ion-title>
        <ion-buttons slot="end">
            <ion-searchbar (keyup.enter)="busca()" (ionChange)="busca()" debounce="1000" placeholder="Código del producto" [(ngModel)]="busqueda"></ion-searchbar>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-header class="mobile" *ngIf="!muestra_searchBar">
    <ion-toolbar style="border-bottom: var(--ion-color-primary) 2px solid;">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Productos</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="showSearchBar()" *ngIf="prodsReady">
                <ion-icon slot="end" name="search" color="primary"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-header class="mobile" *ngIf="muestra_searchBar">
    <ion-toolbar color="primary">
        <ion-searchbar (keyup.enter)="busca(s)" #s id="s" (ionChange)="busca()" debounce="1000" placeholder="Código del producto" [(ngModel)]="busqueda"></ion-searchbar>
        <ion-buttons slot="end">
            <ion-button (click)="muestra_searchBar = false">
                Cancelar
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
    <ion-toolbar *ngIf="prods_busqueda && prods_busqueda[0].productos.length > 0 || buscando">
        <!-- Busqueda List -->
        <div>
            <app-list-img [sections]="prods_busqueda" [busqueda]="true" [cargando]="buscando" (limpiar)="limpiarBusqueda()" (showProduct)="verProducto($event)"></app-list-img>
        </div>       
    </ion-toolbar>
</ion-header>

<ion-content>
    <ng-container *ngIf="prodsReady; else prodTemplate">
        <ng-container *ngIf="categoria; else mainTemplate">
            <div class="mobile" *ngIf="prods_busqueda[0].productos.length === 0">
                <!-- Views selector -->
                <ion-card>
                    <ion-item>
                        <ion-label color="medium">Plantilla</ion-label>
                        <ion-select [(ngModel)]="pasillos.vista" color="medium" okText="Aceptar" cancelText="Cancelar" (ionChange)="vistaElegida($event)">
                            <ion-select-option value="list-img">Lista con imágenes</ion-select-option>
                            <ion-select-option value="list">Lista</ion-select-option>
                            <ion-select-option value="block">Tarjetas pequeñas</ion-select-option>
                            <ion-select-option value="cards">Tarjetas</ion-select-option>
                            <ion-select-option value="gallery">Galería</ion-select-option>
                        </ion-select>
                    </ion-item>
                </ion-card>

                <!-- Departamentos list -->
                <ion-card style="padding-bottom: 1rem;">
                    <ion-item lines="none">
                        <ion-label color="medium">Departamentos</ion-label>
                        <ion-icon slot="end" name="chevron-down" color="primary" *ngIf="listaPasillos.length > 0 && viewSectionList === false" (click)="viewSectionList = true"></ion-icon>
                        <ion-icon slot="end" name="chevron-up" color="primary" *ngIf="listaPasillos.length > 0 && viewSectionList === true" (click)="viewSectionList = false"></ion-icon>
                        <ion-icon slot="end" name="add" color="primary" (click)="showSectionInput()"></ion-icon>
                    </ion-item>
                    <ion-item *ngIf="viewSectionInput" lines="none">
                        <ion-input (keyup.enter)="addPasillo()" type="text" [(ngModel)]="nuevo_pasillo" placeholder="Bebidas, Lacteos, Ropa dama" autoFocus="true" id="inputSection" #inputSection></ion-input>
                        <ion-icon slot="end" name="close" color="medium" (click)="viewSectionInput = false"></ion-icon>
                        <ion-button slot="end" (click)="addPasillo()" shape="round" class="gradient--">
                            Agregar
                        </ion-button>
                    </ion-item>
                    <ion-reorder-group (ionItemReorder)="doReorder($event)" disabled="false" *ngIf="viewSectionList">
                        <ion-item *ngFor="let section of listaPasillos; let i = index; trackBy: trackByPasillos; let odd = odd" lines="none" [ngClass]="{'contraste': odd}">
                            <ng-container *ngIf="section.edit; else editTemplate">
                                <ion-input (keyup.enter)="$event.target.blur();" [(ngModel)]="section.nombre" #inputSectionEdit></ion-input>
                                <ion-reorder slot="end"></ion-reorder>
                                <ion-icon slot="end" name="save" color="success" (click)="saveEditSection(i)"></ion-icon>
                                <ion-icon slot="end" name="close" color="danger" (click)="cancelEditPasillo(i)"></ion-icon>
                            </ng-container>
                            <ng-template #editTemplate>
                                <ion-label>{{section.nombre}}</ion-label>
                                <ion-reorder slot="end"></ion-reorder>
                                <ion-icon slot="end" name="pencil" color="primary" (click)="editPasillo(i)"></ion-icon>
                                <ion-icon slot="end" name="trash" color="danger" (click)="deletePasillo(i, section.nombre)"></ion-icon>
                            </ng-template>
                        </ion-item>
                    </ion-reorder-group>
                </ion-card>


                <!-- Lista productos -->

                <ion-item lines="none" *ngIf="listaPasillos.length > 0">
                    <ion-button slot="end" (click)="verProducto(null)" expand="block" fill="outline" color="primary" class="btn_agregar ion-text-wrap">
                        Agregar producto
                    </ion-button>
                  </ion-item>

                <div [ngSwitch]="pasillos.vista" *ngIf="productosCargados > 0">
                    <div *ngSwitchCase="'list-img'">
                        <app-list-img [sections]="productos" (showProduct)="verProducto($event)"></app-list-img>
                    </div>
                    <div *ngSwitchCase="'block'">
                        <app-block [sections]="productos" (showProduct)="verProducto($event)"></app-block>
                    </div>
                    <div *ngSwitchCase="'cards'">
                        <app-cards [sections]="productos" (showProduct)="verProducto($event)"></app-cards>
                    </div>
                    <div *ngSwitchCase="'list'">
                        <app-list [sections]="productos" (showProduct)="verProducto($event)"></app-list>
                    </div>
                    <div *ngSwitchCase="'gallery'">
                        <app-gallery [sections]="productos" (showProduct)="verProducto($event)"></app-gallery>
                    </div>
                    <div *ngSwitchDefault>
                        <app-list-img [sections]="productos" (showProduct)="verProducto($event)"></app-list-img>
                    </div>
                </div>
                <ion-item lines="none" *ngIf="cargando_productos">
                    <ion-spinner style="margin: auto;" name="dots" color="primary"></ion-spinner>
                </ion-item>

                <ng-container *ngIf="pasilloFiltro; else elseTemplate">
                    <ion-button *ngIf="!noMore && productosCargados > 0" (click)="loadMoreProductsFiltrados()" expand="block" class="gradient--" shape="round">
                        Ver más
                    </ion-button>
                </ng-container>
                <ng-template #elseTemplate>
                    <ion-button *ngIf="!noMore && productosCargados > 0" (click)="loadMoreProducts()" expand="block" class="gradient--" shape="round">
                        Ver más
                    </ion-button>
                </ng-template>

                <ion-item style="padding-top: 3rem; text-align: center;" *ngIf="noMore && productosCargados > 0" lines="none">
                    <ion-label color="medium">No hay más resultados</ion-label>
                </ion-item>
            </div>

            <!-- Vista escritorio -->

            <ion-grid fixed class="escritorio ion-no-padding">
                <ion-row>
                    <ion-col size="6" class="separate-scroll">

                        <!-- Views selector -->
                        <ion-card>
                            <ion-item>
                                <ion-label color="medium">Plantilla</ion-label>
                                <ion-select [(ngModel)]="pasillos.vista" color="medium" okText="Aceptar" cancelText="Cancelar" (ionChange)="vistaElegida($event)">
                                    <ion-select-option value="list-img">Lista con imágenes</ion-select-option>
                                    <ion-select-option value="list">Lista</ion-select-option>
                                    <ion-select-option value="block">Tarjetas pequeñas</ion-select-option>
                                    <ion-select-option value="cards">Tarjetas</ion-select-option>
                                    <ion-select-option value="gallery">Galería</ion-select-option>
                                </ion-select>
                            </ion-item>
                        </ion-card>

                        <!-- Departamentos list -->
                        <ion-card style="padding-bottom: 1rem;">
                            <ion-item lines="none">
                                <ion-label color="medium">Departamentos</ion-label>
                                <ion-icon slot="end" name="chevron-down" color="primary" *ngIf="listaPasillos.length > 0 && viewSectionList === false" (click)="viewSectionList = true"></ion-icon>
                                <ion-icon slot="end" name="chevron-up" color="primary" *ngIf="listaPasillos.length > 0 && viewSectionList === true" (click)="viewSectionList = false"></ion-icon>
                                <ion-icon slot="end" name="add" color="primary" (click)="showSectionInput()"></ion-icon>
                            </ion-item>
                            <ion-item *ngIf="viewSectionInput" lines="none">
                                <ion-input (keyup.enter)="addPasillo()" type="text" [(ngModel)]="nuevo_pasillo" placeholder="Bebidas, Lacteos, Ropa dama" autoFocus="true" id="inputSection" #inputSection></ion-input>
                                <ion-icon slot="end" name="close" color="medium" (click)="viewSectionInput = false"></ion-icon>
                                <ion-button slot="end" (click)="addPasillo()" shape="round" class="gradient--">
                                    Agregar
                                </ion-button>
                            </ion-item>
                            <ion-reorder-group (ionItemReorder)="doReorder($event)" disabled="false" *ngIf="viewSectionList">
                                <ion-item *ngFor="let section of listaPasillos; let i = index; trackBy: trackByPasillos; let odd = odd" lines="none" [ngClass]="{'contraste': odd}">
                                    <ng-container *ngIf="section.edit; else editTemplate">
                                        <ion-input (keyup.enter)="$event.target.blur();" [(ngModel)]="section.nombre" #inputSectionEdit></ion-input>
                                        <ion-icon slot="end" name="save" color="success" (click)="saveEditSection(i)"></ion-icon>
                                        <ion-icon slot="end" name="close" color="danger" (click)="cancelEditPasillo(i)"></ion-icon>
                                        <ion-button (click)="resetProds(section.nombre)" slot="end" fill="outline">
                                            Ver Productos
                                        </ion-button>
                                        <ion-reorder slot="end"></ion-reorder>
                                    </ng-container>
                                    <ng-template #editTemplate>
                                        <ion-label>{{section.nombre}}</ion-label>
                                        <ion-icon slot="end" name="pencil" color="primary" (click)="editPasillo(i)"></ion-icon>
                                        <ion-icon slot="end" name="trash" color="danger" (click)="deletePasillo(i, section.nombre)"></ion-icon>
                                        <ion-button (click)="resetProds(section.nombre)" slot="end" fill="outline">
                                            Ver Productos
                                        </ion-button>
                                        <ion-reorder slot="end"></ion-reorder>
                                    </ng-template>
                                </ion-item>
                            </ion-reorder-group>
                        </ion-card>

                        <!-- Busqueda List -->
                        <ion-card *ngIf="prods_busqueda && prods_busqueda[0].productos.length > 0 || buscando">
                            <app-list [sections]="prods_busqueda" [busqueda]="true" [cargando]="buscando" (limpiar)="limpiarBusqueda()" (showProduct)="verProducto($event)"></app-list>
                        </ion-card>

                        <!-- Products list -->

                        <ion-card *ngIf="listaPasillos.length > 0" style="padding-bottom: 1rem;">
                            <ion-item lines="none">
                                <ion-label color="medium">Productos</ion-label>
                                <ion-icon slot="end" name="chevron-down" color="primary" *ngIf="viewProducts === false && productosCargados > 0" (click)="viewProducts = true"></ion-icon>
                                <ion-icon slot="end" name="chevron-up" color="primary" *ngIf="viewProducts === true" (click)="viewProducts = false"></ion-icon>
                                <ion-icon slot="end" name="add" color="primary" (click)="verProducto(null)"></ion-icon>
                            </ion-item>
                            <ng-container *ngIf="viewProducts">
                                <ion-list *ngFor="let section of productos; trackBy: trackByPasilloProducto">
                                    <h2 *ngIf="section.productos && section.productos.length > 0" style="font-weight: 700; margin-left: 2rem;" class="primario">
                                        {{section.nombre}}</h2>
                                    <ion-item (click)="verProducto(product)" *ngFor="let product of section.productos; trackBy: trackByProducto; let odd = odd" [ngClass]="{'contraste': odd}" lines="none" class="resaltar">
                                        <ion-label>{{product.precio | currency:'CAD':'symbol-narrow':'1.0-2'}} / {{product.nombre}}</ion-label>
                                        <ion-icon name="pencil" slot="end" color="primary"></ion-icon>
                                    </ion-item>
                                </ion-list>
                                <ion-button *ngIf="!noMore && productosCargados > 0" (click)="loadMoreProducts()" expand="block" fill="clear" shape="round">
                                    Ver más
                                </ion-button>
                            </ng-container>
                        </ion-card>
                    </ion-col>
                    <ion-col size="6" class="separate-scroll">

                        <!-- Vista previa -->

                        <div class="smartphone">
                            <div class="content">
                                <!-- Product view -->
                                <ng-template #modalProduct>
                                </ng-template>
                                <ion-segment scrollable *ngIf="listaPasillos && listaPasillos.length > 0" [value]="pasilloFiltro ? pasilloFiltro : 'todos'">
                                    <ion-segment-button (click)="resetProds()" value="todos">
                                        Todos
                                    </ion-segment-button>
                                    <ion-segment-button (click)="resetProds('Ofertas')" *ngIf="hasOfertas" value="ofertas">
                                        Ofertas
                                    </ion-segment-button>
                                    <ion-segment-button (click)="resetProds(item.nombre)" *ngFor="let item of listaPasillos; trackBy: trackByPasillosPasillos" [value]="item.nombre">
                                        {{item.nombre}}
                                    </ion-segment-button>
                                </ion-segment>
                                <ng-container *ngIf="productosCargados > 0">
                                    <div [ngSwitch]="pasillos.vista">
                                        <div *ngSwitchCase="'list-img'">
                                            <app-list-img [sections]="productos" (showProduct)="verProducto($event)"></app-list-img>
                                        </div>
                                        <div *ngSwitchCase="'block'">
                                            <app-block [sections]="productos" (showProduct)="verProducto($event)"></app-block>
                                        </div>
                                        <div *ngSwitchCase="'cards'">
                                            <app-cards [sections]="productos" (showProduct)="verProducto($event)"></app-cards>
                                        </div>
                                        <div *ngSwitchCase="'list'">
                                            <app-list [sections]="productos" (showProduct)="verProducto($event)"></app-list>
                                        </div>
                                        <div *ngSwitchCase="'gallery'">
                                            <app-gallery [sections]="productos" (showProduct)="verProducto($event)"></app-gallery>
                                        </div>
                                        <div *ngSwitchDefault>
                                            <app-list-img [sections]="productos" (showProduct)="verProducto($event)"></app-list-img>
                                        </div>
                                    </div>
                                </ng-container>

                                <ion-item lines="none" *ngIf="cargando_productos">
                                    <ion-spinner style="margin: auto;" name="dots" color="primary"></ion-spinner>
                                </ion-item>

                                <ng-container *ngIf="pasilloFiltro; else elseTemplate">
                                    <ion-button *ngIf="!noMore && productosCargados > 0" (click)="loadMoreProductsFiltrados()" expand="block" fill="clear" shape="round">
                                        Ver más
                                    </ion-button>
                                </ng-container>
                                <ng-template #elseTemplate>
                                    <ion-button *ngIf="!noMore && productosCargados > 0" (click)="loadMoreProducts()" expand="block" fill="clear" shape="round">
                                        Ver más
                                    </ion-button>
                                </ng-template>

                                <ion-item style="padding-top: 3rem; text-align: center;" *ngIf="noMore && productosCargados > 0" lines="none">
                                    <ion-label color="medium">No hay más resultados</ion-label>
                                </ion-item>

                            </div>
                        </div>

                    </ion-col>
                </ion-row>
            </ion-grid>
        </ng-container>


        <ng-template #mainTemplate>
            <ion-item lines="none" style="text-align: center;">
                <ion-label color="medium" class="ion-text-wrap">Antes de agregar productos, completa tu perfil. Es muy importante para clasificar tus productos o servicios</ion-label>
            </ion-item>
        </ng-template>
    </ng-container>
    <ng-template #prodTemplate>
        <ion-card class="boton-margen">
            <ion-list>
                <ion-item *ngFor="let item of [1,2,3,4,5,6]">
                    <ion-label>
                        <h2>
                            <ion-skeleton-text animated style="width: 50%;"></ion-skeleton-text>
                        </h2>
                        <p>
                            <ion-skeleton-text animated style="width: 90%;"></ion-skeleton-text>
                        </p>
                        <p>
                            <ion-skeleton-text animated style="width: 65%;"></ion-skeleton-text>
                        </p>
                    </ion-label>
                    <ion-thumbnail style="margin-right: 0.5rem;" slot="end">
                        <ion-skeleton-text animated></ion-skeleton-text>
                    </ion-thumbnail>
                </ion-item>
            </ion-list>
        </ion-card>
    </ng-template>

    <ion-fab vertical="bottom" horizontal="center" slot="fixed" class="mobile" *ngIf="listaPasillos.length > 0 && prods_busqueda[0].productos.length === 0">
        <ion-fab-button (click)="verProducto(null)" class="gradient--">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>


</ion-content>

<app-no-network></app-no-network>