<ion-app>
    <ion-split-pane contentId="main-content" when="sm">
        <ion-menu contentId="main-content" type="overlay">
            <ion-header>
                <ion-toolbar color="primary">
                    <ion-title>
                        <span style="font-weight: 700; color: white;">Plaza v2.0</span>
                    </ion-title>
                </ion-toolbar>
            </ion-header>
            <ion-content class="background-gris">
                <ion-menu-toggle auto-hide="false">
                    <ion-item *ngFor="let p of appPages; let first = first" (click)="irA(p.url)" [routerDirection]="'root'" style="cursor: pointer;">
                        <ion-icon slot="start" [name]="p.icon" color="medium" *ngIf="currentPage !== p.url"></ion-icon>
                        <ion-icon slot="start" [name]="p.icon" color="primary" *ngIf="currentPage === p.url"></ion-icon>
                        <ion-label color="medium" *ngIf="currentPage !== p.url">{{p.title}}</ion-label>
                        <ion-label color="primary" *ngIf="currentPage === p.url">{{p.title}}</ion-label>
                        <ion-badge *ngIf="first && pedidos > 0" color="primary" slot="end">{{pedidos}}</ion-badge>
                        <div *ngIf="no_horario && p.title === 'Horario'" class="alert" id="alert">
                            <ion-icon slot="end" color="danger" name="notifications" class="alert-icon"></ion-icon>
                        </div>
                    </ion-item>
                    <ion-item (click)="salir()" style="cursor: pointer;">
                        <ion-icon color="medium" slot="start" name="log-out"></ion-icon>
                        <ion-label color="medium">
                            Cerrar sesión
                        </ion-label>
                    </ion-item>
                </ion-menu-toggle>
            </ion-content>
            <ion-footer>
                <ion-toolbar class="background-gris">
                    <ion-item>
                        <ion-icon slot="start" name="logo-whatsapp" color="medium"></ion-icon>
                        <ion-label class="ion-text-wrap" style="text-align: center;" color="medium">
                            <h3>Dudas/comentarios/reportar problemas</h3>
                            <h4>33-1447-3715</h4>
                        </ion-label>
                    </ion-item>
                </ion-toolbar>                
            </ion-footer>
        </ion-menu>
        <ion-router-outlet id="main-content"></ion-router-outlet>
    </ion-split-pane>
</ion-app>