<ion-header class="escritorio">
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Pedidos en curso</ion-title>
    </ion-toolbar>
</ion-header>
<ion-header class="mobile" *ngIf="!pedido">
    <ion-toolbar style="border-bottom: var(--ion-color-primary) 2px solid;">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Pedidos en curso</ion-title>
    </ion-toolbar>
</ion-header>
<ion-header *ngIf="pedido" class="mobile ion-no-border">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-icon slot="start" name="chevron-back" (click)="regresa()"></ion-icon>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item *ngIf="plan === 'basico'" style="text-align: center;" lines="none">
        <ion-label color="medium">Actualiza tu plan para poder recibir pedidos</ion-label>
    </ion-item>

    <!-- Escritorio -->

    <ion-grid fixed *ngIf="plan !== 'basico'">
        <ion-row>
            <!-- Columna lista pedidos -->
            <ion-col size-lg="4" size-xl="4" size-xs="12" size-sm="12" size-md="12" class="separate-scroll" *ngIf="!hideMainCol || scrWidth >= 992">
                <ng-container *ngIf="pedidosReady && repartidoresReady && tiempoReady; else loadEscritorioTemplate">
                    <ng-container *ngIf="pedidos.length > 0; else noPedTemplate">
                        <ion-list>
                            <ion-card *ngFor="let item of pedidos; let i = index" [ngStyle]="{'border-right': i === iSel ? 'solid var(--ion-color-primary) 5px' : null}">
                                <ng-container *ngIf="item.aceptado; else aceptadoTemplate">
                                    <ion-item [style.cursor]="i === iSel? null :'pointer'" detail (click)="getPedido(item, i)">
                                        <ion-label class="ion-text-wrap">
                                            {{item.cliente.direccion.direccion}}
                                        </ion-label>
                                    </ion-item>
                                </ng-container>
                                <ng-template #aceptadoTemplate>
                                    <ion-item lines="none" detail (click)="getPedido(item, i)" [style.cursor]="i === iSel? null :'pointer'">
                                        <ion-label class="ion-text-wrap">
                                            {{item.cliente.direccion.direccion}}
                                            <p>{{item.createdAt | date:'h:mm a'}}</p>
                                        </ion-label>
                                        <ion-badge class="mobile" color="danger" mode="ios">Confirmar</ion-badge>
                                    </ion-item>
                                    <ion-item class="escritorio">
                                        <ion-badge color="danger" mode="ios">Confirmar</ion-badge>
                                    </ion-item>
                                </ng-template>
                            </ion-card>
                        </ion-list>
                    </ng-container>

                    <ng-template #noPedTemplate>
                        <ion-item style="text-align: center;" lines="none">
                            <ion-label class="ion-text-wrap" color="medium">En este momento no tienes pedidos activos</ion-label>
                        </ion-item>
                    </ng-template>
                    <ng-template #pedTemplate>

                    </ng-template>
                </ng-container>
                <ng-template #loadEscritorioTemplate>
                    <ion-list>
                        <ion-card *ngFor="let item of [1,2,3,4,5,6,7,8,9,10]">
                            <ion-item lines="none">
                                <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
                            </ion-item>
                            <ion-item lines="none">
                                <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
                            </ion-item>
                        </ion-card>
                    </ion-list>
                </ng-template>
            </ion-col>

            <!-- Columna detalles pedido -->
            <ion-col size-lg="8" size-xl="8" size-xs="12" size-sm="12" size-md="12" *ngIf="pedido">
                <div style="max-width: 30rem;">
                    <!-- Resumen pedido y contacto -->
                    <ion-card>
                        <h3 class="titulo">Resumen</h3>
                        <ion-item lines="none">
                            <ion-label>
                                <h2 class="medium"><strong style="color: black;">Cliente:</strong> {{pedido.cliente.nombre}}</h2>
                                <h2 *ngIf="pedido.cliente.telefono" class="medium"><strong style="color: black;">Teléfono:</strong> {{pedido.cliente.telefono}}</h2>
                            </ion-label>
                        </ion-item>
                        <ion-item lines="none" *ngIf="pedido.aceptado && pedido.entrega === 'planeado'">
                            <ion-label class="ion-text-wrap">
                                <h2><strong>Fecha compromiso entrega:</strong> {{pedido.aceptado | date:'EEEE d/MMMM/y'}}</h2>
                            </ion-label>
                        </ion-item>                   
                        <ion-item lines="none">
                            <ion-label>
                                <h2 class="medium"><strong style="color: black;">Forma pago:</strong> {{pedido.formaPago.tipo !== 'efectivo' ? 'Tarjeta' : 'Efectivo'}}</h2>
                                <h2 class="medium" *ngIf="pedido.comision"><strong style="color: black;">Comisión:</strong> {{pedido.comision | currency : 'CAD': 'symbol-narrow': '1.0-2'}}</h2>
                                <h2 class="medium" *ngIf="pedido.negocio.repartidores_propios"><strong style="color: black;">Envío:</strong> {{pedido.envio | currency : 'CAD': 'symbol-narrow': '1.0-2'}}</h2>
                                <h2 class="medium" *ngIf="pedido.negocio.repartidores_propios"><strong style="color: black;">Propina:</strong> {{pedido.propina | currency : 'CAD': 'symbol-narrow': '1.0-2'}}</h2>
                            </ion-label>
                        </ion-item>
                    </ion-card>

                    <!-- Detalles repartidor -->
                        <!-- Repartidor asignado -->
                    <ion-card *ngIf="pedido.repartidor">
                        <h3 class="titulo">Repartidor</h3>
                        <ion-item>
                            <ion-avatar slot="start">
                                <img [src]="pedido.repartidor.foto" />
                            </ion-avatar>
                            <ion-label>
                                <h2>{{pedido.repartidor.nombre}}</h2>
                                <p *ngIf="!pedido.negocio.repartidores_propios">
                                    <ion-icon slot="start" name="call"></ion-icon>
                                    {{pedido.repartidor.telefono}}
                                </p>
                            </ion-label>
                        </ion-item>
                    </ion-card>
                        <!-- Repartidor pendiente entrega inmediata -->
                    <ion-card *ngIf="pedido.aceptado && !pedido.repartidor && pedido.entrega === 'inmediato' || pedido.repartidor_solicitado && !pedido.repartidor">
                        <h3 class="titulo">Repartidor</h3>
                        <ion-item>
                            <ion-icon slot="start" color="warning" name="time"></ion-icon>
                            <ion-label color="medium">Asignando repartidor</ion-label>
                        </ion-item>
                    </ion-card>
                        <!-- Repartidor pendiente entrega planeado -->
                    <ion-card *ngIf="pedido.aceptado && !pedido.repartidor && pedido.entrega === 'planeado' && !pedido.repartidor_solicitado">
                        <h3 class="titulo">Repartidor</h3>
                        <ion-item>
                            <ion-label color="medium">Repartidor pendiente</ion-label>
                            <ion-button class="gradient--" *ngIf="pedido.negocio.repartidores_propios" (click)="asignaRepartidorPlaneado()" shape="round">
                                Asignar repartidor
                            </ion-button>                            
                            <ion-button class="gradient--" *ngIf="!pedido.negocio.repartidores_propios" (click)="solicitarRepartidor(pedido)" shape="round">
                                Solicitar repartidor
                            </ion-button>
                        </ion-item>
                    </ion-card>

                    <!-- Avisa al cliente repartidor en camino -->
                    <ion-card *ngIf="pedido.repartidor && pedido.negocio.repartidores_propios && !pedido.recolectado">
                        <ion-list-header>
                            <ion-label color="primary">Notifica al cliente cuando tu repartidor esté en camino</ion-label>
                        </ion-list-header>
                        <ion-item lines="none">
                            <ion-button (click)="repartidorEnCamino()" expand="block" shape="round" class="ion-text-wrap">
                                ¡Productos listos! El repartidor está en camino
                            </ion-button>
                        </ion-item>
                    </ion-card>

                    <!-- Detalles de avances -->
                    <ion-card *ngIf="pedido.aceptado" style="padding-bottom: 1rem;">
                        <h3 class="titulo">Avances</h3>
                        <div class="input_avance">
                            <ion-item lines="none">
                                <ion-label position="floating">Agregar avance</ion-label>
                                <ion-input (keyup.enter)="agregarAvance()" [(ngModel)]="avance.concepto" name="avance" type="text" placeholder="Ej. Productos listos"></ion-input>
                                <ion-button slot="end" (click)="agregarAvance()" shape="round">
                                    Agregar
                                </ion-button>
                            </ion-item>
                        </div>
                        <ion-item lines="none" *ngFor="let item of pedido.avances">
                            <ion-label color="medium" style="font-size: small;">{{item.fecha | date:'short'}}</ion-label>
                            <ion-label color="medium" style="font-size: small;" class="ion-text-wrap">{{item.concepto}}</ion-label>
                        </ion-item>
                    </ion-card>

                    <!-- Lista de productos -->
                    <ion-card>
                        <h3 class="titulo">Productos</h3>
                        <ion-item *ngFor="let producto of pedido.productos; let i = index; let odd = odd" [ngClass]="{'contraste': odd}" lines="none">
                            <ion-badge color="dark" slot="start">{{producto.cantidad}}</ion-badge>
                            <ion-thumbnail slot="start">
                                <img [src]="producto.url">
                            </ion-thumbnail>
                            <ion-label>
                                <h2 class="ion-text-wrap" style="font-weight: 700;">{{producto.nombre | titlecase}}
                                    <ion-text color="medium">{{producto.precio | currency:'CAD':'symbol-narrow':'1.0-2'}}</ion-text>
                                </h2>
                                <p>{{producto.observaciones | titlecase}}</p>
                                <div *ngFor="let item of producto.complementos">
                                    <h4>+ {{item.titulo | titlecase}}</h4>
                                    <p style="color: var(--ion-color-primary); margin-left: 0.5rem;" *ngFor="let com of item.complementos">{{com.nombre}}: {{com.precio | currency:'CAD':'symbol-narrow':'1.0-2'}}</p>
                                </div>
                                <h2 class="ion-text-wrap" *ngIf="producto.descuento">Descuento
                                    <ion-text color="medium">{{(producto.precio * (producto.descuento/100) * producto.cantidad) | currency:'CAD':'symbol-narrow':'1.0-2'}}</ion-text>
                                </h2>
                                <h2 class="ion-text-wrap" *ngIf="!producto.descuento">Total
                                    <ion-text color="medium">{{producto.total | currency:'CAD':'symbol-narrow':'1.0-2'}}</ion-text>
                                </h2>                                
                                <h2 class="ion-text-wrap" *ngIf="producto.descuento">Total
                                    <ion-text color="medium">{{producto.total - (producto.precio * (producto.descuento/100) * producto.cantidad) | currency:'CAD':'symbol-narrow':'1.0-2'}}</ion-text>
                                </h2>
                            </ion-label>
                            <ion-badge class="gradient--" mode="ios" slot="end" *ngIf="producto.dosxuno">2x1</ion-badge>
                        </ion-item>
                        <hr style="border-bottom: var(--ion-color-medium) 1px solid;">
                        <ion-item style="text-align: right;" lines="none">
                            <ion-label color="primary">
                                <h2 style="font-weight: 700;" *ngIf="pedido.negocio.repartidores_propios">Total: {{pedido.total | currency:'CAD':'symbol-narrow':'1.0-2'}}</h2>
                                <h2 style="font-weight: 700;" *ngIf="!pedido.negocio.repartidores_propios">Total: {{pedido.total - pedido.envio - pedido.propina | currency:'CAD':'symbol-narrow':'1.0-2'}}</h2>
                            </ion-label>
                        </ion-item>
                    </ion-card>


                    <ion-grid fixed class="escritorio">
                        <ion-row>
                            <ion-col size="6">
                                <ion-button *ngIf="!pedido.aceptado" fill="outline" color="danger" (click)="rechazarPedido()">
                                    Rechazar pedido
                                </ion-button>
                            </ion-col>
                            <ion-col size="6">
                                <ion-button class="gradient--" *ngIf="!pedido.aceptado" expand="block" (click)="aceptarPedido()">
                                    Tomar pedido 
                                    <ion-icon slot="end" name="checkmark-done"></ion-icon>
                                </ion-button>                                     
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                    <ion-item lines="none" class="mobile" *ngIf="!pedido.aceptado">
                        <ion-button expand="block" fill="outline" (click)="rechazarPedido()">
                            Rechazar
                        </ion-button>                                
                        <ion-button slot="end" class="gradient--" expand="block" (click)="aceptarPedido()">
                            Tomar pedido 
                        </ion-button>                                
                    </ion-item>                    
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>

<app-no-network></app-no-network>