/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */


/* Core CSS required for Ionic components to work properly */

@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */

@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
ion-card {
    border-radius: 15px;
}

.loading-wrapper {
    border: 1px solid var(--ion-color-primary);
    border-radius: 20px !important;
    overflow: hidden;
}

.alert-wrapper {
    border: 1px solid var(--ion-color-primary);
    border-radius: 20px !important;
    overflow: hidden;
}

.primario {
    color: var(--ion-color-primary)
}

.medium {
    color: var(--ion-color-medium)
}

.gris {
    color: #2D3E4F;
}

.background-gris {
    background: #2D3E4F;
    --background: #2D3E4F;
}

.resaltar {
    cursor: pointer;
}

.resaltar:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.10);
    z-index: 250;
}

.active {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.10);
    border-right: var(--ion-color-primary) 4px solid;
}

ion-item {
    --background: transparent;
}

.contraste {
    --background: #fdf2e8
}

.alert-wrapper.sc-ion-alert-md {
    max-width: 60% !important;
    width: 40%;
}

.li-ionic4-datePicker {
    ion-footer {
        height: 70px!important;
    }
}

.btn_agregar {
    --border-style: dashed !important;
    --padding-bottom: 1rem;
    --padding-end: 1rem;
    --padding-start: 1rem;
    --padding-top: 1rem;
}

.gradient-- {
    --background: linear-gradient(197deg, #F37208 0%, #Ef0808 100%);
}

.gradient_inverse-- {
    --background: linear-gradient(197deg, #Ef0808  0%, #F37208 100%);
}

.gradient {
    background: linear-gradient(197deg, #F37208 0%, #Ef0808 100%);
}

.btn_aceptar {
    background: linear-gradient(197deg, #F37208 0%, #Ef0808 100%);
    border-radius: 500px !important;
    font-weight: 700 !important;
    color: white !important;
}


